<h2></h2>
<p>This blog is about things I don't understand. I feel like my ignorance tells my story better than my knowledge.
</p>
<p>
Beyond good storytelling, learning to articulate my ignorance will help me overcome technical challenges. I want to be able to tell anyone teaching me or collaborating with me exactly what i need clarified. 
</p>
<p>
Equally important, if I ever want to be on the other side teaching someone else how to do this I need to be able to relate to beginners. I need to preserve my confused state in writing. Here goes.
</p>
