<h2></h2>
<p>I have found that my ignorance is a better indicator of where I am than my knowledge. For example, until my junior year of high school I couldn’t name all four members of the Beatles. For example, I always thought Roger and Ebert were two different people. For example, when I first met my girfriend’s mom she was appalled that i didn’t know who Angela Davis is. Today, if you were to ask me about any of these people I would talk about them like we were childhood friends. But my ignorance tells the real story. It’s the same with learning to program. If I don’t take snapshots of my ignorance I’m afraid that the learning process will eventually cover it up so that I will forget what it felt like not to understand basic programming artifacts. So I have decided to dedicate this blog to a diary of things that I don’t understand about programming.
</p>
<p>
Beyond good storytelling, I think that learning to articulate my ignorance will help me overcome future challenges. Many times i find that explaining something I know is super easy while posing a question I might trip myself up. I want to be able to tell anyone teaching me or collaborating with me exactly what i need clarified in order to progress. 
</p>
<p>
Equally important, if I ever want to be on the other side teaching someone else how to do this I need to be able to relate to beginners. I need to preserve my confused state in writing. Here goes.
</p>
